* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: font-family: 'Signika', sans-serif;
}
/*********** head ***********/
.hd {
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/*margin-top: 44px;*/
	overflow: hidden;
}
.blk-lyr {
	background-color: rgba(0,0,0,.8);
	height: 100%;
}
.pp img {
	width: 100%;
	border-radius: 50%;
	border: 3px solid #4beccc;
	margin-top: 6%;
}
.pp {
	margin-top: 8%;
}
#hd-text {
	color: #a4ffed;
	top: -140px; 
}
#rs-btn {
	color: #a0f9e8;
	border-color: #a0f9e8;
	top: -120px;
	position: relative;
}
#rs-btn a{
	color: #a0f9e8;
	border: 1px solid #a0f9e8;
	background: transparent;
	text-decoration: none;
	height: 40px;
	width: 170px;
	padding-top: 7px;
}
#dropdownMenuButton {
	background: transparent!important;
	width: 170%!important;
	border-radius: 0!important;
	height: 40px!important;
	border-color: #a0f9e8!important;
	color: #a0f9e8!important;
}
/******************about****************/
#about {
	overflow: hidden;
	padding: 6%;
}
.holder {
	border: 1px solid #56c4e9;
	height: 10px;
}
.about-skills p{
	margin :2% 0;
}
#sk-w {
	float: left;
}
#sk-g {
	float: right;
}
/******************education****************/
#education {
	overflow: hidden;
	background-image: url(../img/banner3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.blk {
	background-color: #0a2e3aad;
	height: 100%;
}
.ed-pad {
	padding: 5% 0;
	height: 57em;
}
#ql {
	margin-bottom: 5%;
}
#ql h1 {
	color: #ddf0f7;
}
#ed-l {
	float: left;
}
.yr-box {
	float: right;
}
.years-l {
	margin:15% 0;
}
.years-l h5 {
	color: #ddf0f7;
}
.ed-card-l {
	border-radius: 12px;
	height: 10em;
	padding: 2% 3% 2% 0;
	width: 30em;
	background-color: #ddf0f7;
}
.years-r {
	margin:11% 0;
}
.years-r h5 {
	color: #ddf0f7;
}
.ed-card-r {
	border-radius: 12px;
	height: 10em;
	padding: 2%;
	width: 30em;
	background-color: #ddf0f7;
}
#ed-r{
	float: right;
}
hr {
	position: absolute;
	top: 93em;
	left: 50%;
	width: 5px;
	height: 44em;
	background: #a3d5e6;
}
.xs-card {
	display: none;
}
/**********************gallery***********************/
#gall {
	background-image: url(../img/gallery-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
/*	overflow: hidden;*/
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.gallery-title
{
    font-size: 36px;
    color: #4cf1d0;
    text-align: center;
    font-weight: 500;
    margin: 6%;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #4cf1d0;
    border-radius: 5px;
    text-align: center;
    color: #4cf1d0;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #4cf1d0;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #4cf1d0;

}
.filter-button.active
{
    background-color: #4cf1d0;
    color: white;
}
.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
	-webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.block{
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/******************footer****************/
footer {
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	padding: 5%;
}
#ftl {
	float: left;
}
#ftr {
	float: right;
	padding-left: 20%;
}
#ftr img {
	width: 10%;
	float: left;
	margin: 0 2%;	
}